<ng-template [ngIf]="ready">
  <div class="flex main-display">
    <ul class="list-group">
      <ng-template [ngIf]="slots.length == 0">
        <li class="list-group-item initial-message">
          When you add Pokemon to your team, they will go here.
        </li>
      </ng-template>
      <ng-template [ngIf]="slots.length > 0">
        <app-team-slot *ngFor="let slot of slots" [pokemon]="slot"></app-team-slot>
      </ng-template>
    </ul>
    <app-search></app-search>
  </div>
</ng-template>
<ng-template [ngIf]="!ready">
  <div class="flex">
    <span class="error-font">The service is down for the moment. Please try again later!</span>
  </div>
</ng-template>